@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 234 43% 94%;
    --foreground: 231 48% 18%;
    --card: 234 43% 99%;
    --card-foreground: 231 48% 18%;
    --popover: 234 43% 99%;
    --popover-foreground: 231 48% 18%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 231 40% 90%;
    --secondary-foreground: 231 48% 28%;
    --muted: 231 40% 90%;
    --muted-foreground: 231 48% 35%;
    --accent: 187 100% 42%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 20% 80%;
    --input: 231 20% 88%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 187 100% 42%;
    --chart-3: 210 40% 56%;
    --chart-4: 250 50% 60%;
    --chart-5: 300 50% 60%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 231 22% 9%;
    --foreground: 234 43% 94%;
    --card: 231 22% 11%;
    --card-foreground: 234 43% 94%;
    --popover: 231 22% 11%;
    --popover-foreground: 234 43% 94%;
    --primary: 231 48% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 231 22% 19%;
    --secondary-foreground: 234 43% 94%;
    --muted: 231 22% 19%;
    --muted-foreground: 234 43% 70%;
    --accent: 187 100% 52%;
    --accent-foreground: 231 22% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 22% 19%;
    --input: 231 22% 19%;
    --ring: 231 48% 58%;
    --chart-1: 231 48% 58%;
    --chart-2: 187 100% 52%;
    --chart-3: 210 40% 66%;
    --chart-4: 250 50% 70%;
    --chart-5: 300 50% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
